registry=https://dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 05.11.2019.
; begin auth token
//dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/registry/:username=TurkuazGO.Framework
//dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/registry/:_password=dGppNWFtYnd0bWlzYnlpcjU0aDR1cGRuczZpNnBmNTNhdTZrc2ZzZnFqNzR3bmpiNnN3cQ==
//dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/registry/:email=npm requires email to be set but doesn't use the value
//dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/:username=TurkuazGO.Framework
//dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/:_password=dGppNWFtYnd0bWlzYnlpcjU0aDR1cGRuczZpNnBmNTNhdTZrc2ZzZnFqNzR3bmpiNnN3cQ==
//dtalm.pkgs.visualstudio.com/_packaging/TurkuazGO.Framework/npm/:email=npm requires email to be set but doesn't use the value
; end auth token